@import "../main.scss";

.order {
  h1 {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 40px;
  }
  .row {
    h2 {
      text-align: left;
    }

    .store-option {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        margin: 0;
        padding: 0;
      }

      select {
        margin-left: 14px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .menu-not-found {
    width: 400px;
    img {
      width: 150px;
    }
  }
  .center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    p {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .options {
    margin-top: 12px;

    .option-menu {
      text-align: left;
    }

    .option-type {
      text-align: right;
    }
  }

  .product-catalogue {
    margin-top: 12px;
    // max-width: 300%;

    .scrollable {
      overflow-y: scroll;
      display: flex;
      flex-direction: row;

      &::-webkit-scrollbar {
        display: none;
      }

      .scrollable-content {
        display: flex;
        flex-direction: row;
        align-content: center;
        padding-bottom: 10px;
      }
    }
  }

  h3 {
    text-align: left;
    margin-top: 32px;
  }
  height: 840px;
}
