@import "./_class.scss";
@import "./_variables.scss";

.container-fluid {
  padding: 0 180px !important;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: $black;
  text-decoration: none;
  transition: all 0.35s ease;

  &:hover {
    color: $black;
    text-decoration: underline;
  }
}

.c-white {
  color: $white;
}

.logo {
  font-family: "Chakra Petch";
  font-size: 28px;
  font-weight: 600;
}

.logo-light {
  color: $white;
}

._btn {
  border: 0;
  font-size: 16px;
  font-weight: 600;
}
._btn-auth {
  width: 360px;
  height: 44px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}
._btn-md {
  height: 48px;
  padding: 0 56px;
  border-radius: 40px;
}
._btn-lg {
  height: 64px;
  padding: 0 28px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;

  img {
    width: 36px;
    height: 36px;
    margin-right: 14px;
  }
}
._btn-primary {
  background-color: $primary;
}
._btn-secondary {
  background-color: $secondary;
}
._btn-tertiary {
  background-color: $tertiary;
}
